

{{define "index"}}

{{template "top"}}
  <h1>People</h1>

  <!-- Container for Table -->
  <div class="people-container">
    <table class="people-table">
      <thead>
        <tr>
          <th>ID</th>
          <th>First Name</th>
          <th>Last Name</th>
        </tr>
      </thead>
      <tbody>
        {{ range .people }}
        <tr>
          <td>{{ .ID }}</td>
          <td>{{ .FirstName }}</td>
          <td>{{ .LastName }}</td>
        </tr>
        {{ end }}
      </tbody>
    </table>
  </div>

  <!-- Pagination Controls -->
  <div class="pagination">
    <div class="pagination-controls">
      {{if (gt .pagination.CurrentPage 1)}}
        <a class="pagination-btn" href="/page/{{.pagination.PreviousPage}}">Previous</a>
      {{else}}
        <span class="pagination-btn disabled">Previous</span>
      {{end}}

      <span class="pagination-current">Page {{ .pagination.CurrentPage }}</span>

      {{if (lt .pagination.CurrentPage .pagination.TotalPages)}}
        <a class="pagination-btn" href="/page/{{.pagination.NextPage}}">Next</a>
      {{else}}
        <span class="pagination-btn disabled">Next</span>
      {{end}}
    </div>
  </div>

{{template "bottom"}}

{{end}}

