

{{define "index"}}

{{template "top"}}
  <h1>People</h1>

  <!-- Container to hold 3 columns -->
  <div class="people-container">
    
    <!-- Column for IDs -->
    <div class="people-column">
      <h2>ID</h2>
      <ul>
        {{ range .people }}
        <li>{{ .ID }}</li>
        {{ end }}
      </ul>
    </div>

    <!-- Column for First Names -->
    <div class="people-column">
      <h2>First Name</h2>
      <ul>
        {{ range .people }}
        <li>{{ .FirstName }}</li>
        {{ end }}
      </ul>
    </div>

    <!-- Column for Last Names -->
    <div class="people-column">
      <h2>Last Name</h2>
      <ul>
        {{ range .people }}
        <li>{{ .LastName }}</li>
        {{ end }}
      </ul>
    </div>


    <div class="pagination">
    <ul>
    <li>
    {{if (gt .pagination.CurrentPage 1)}}
    <a href="/page/{{.pagination.PreviousPage}}">
    Previous
    </a>

    {{else}}
    <span>
    Pervious
    </span>


    {{end}}
    
    </li>
    <li>
    {{if (lt .pagination.CurrentPage .pagination.TotalPages)}}
    <a href="/page/{{.pagination.NextPage}}">
    Next
    </a>
    {{else}}
    <span>
    Next
    </span>
    {{end}}
    </li>
   


  </div>

 {{template "bottom"}}

{{end}}

