

{{define "index"}}

{{template "top"}}
  <h1>People</h1>

  <!-- Container to hold 3 columns -->
  <div class="people-container">
    
    <!-- Column for IDs -->
    <div class="people-column">
      <h2>ID</h2>
      <ul>
        {{ range .people }}
        <li>{{ .ID }}</li>
        {{ end }}
      </ul>
    </div>

    <!-- Column for First Names -->
    <div class="people-column">
      <h2>First Name</h2>
      <ul>
        {{ range .people }}
        <li>{{ .FirstName }}</li>
        {{ end }}
      </ul>
    </div>

    <!-- Column for Last Names -->
    <div class="people-column">
      <h2>Last Name</h2>
      <ul>
        {{ range .people }}
        <li>{{ .LastName }}</li>
        {{ end }}
      </ul>
    </div>

  </div>

 {{template "bottom"}}

{{end}}

