
<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Delete Item</title>
    </head>
    
    <body>
        <h1>ARE YOU SURE YOU WANNA DELETE THIS</h1>

        <form action="/delete" method="POST">
                        <button type="submit">NO</button>
                        <button type="submit">YES</button>
        </form>

        <br>
        <a href="/">Back to Inventory</a>
    </body>
</html>
